.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafc;
  padding: 20px;
}
.form-section {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 60px;
  max-width: 850px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 350px; 
  height: 350px; 
  object-fit: contain;
}
.form-fields {
  flex: 1.2;
}
.form-fields h2 {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
  color: #111827;
}
.portal-text {
  text-align: center;
  color: #6b7280;
  margin-bottom: 25px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #374151;
  font-weight: 500;
}
.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f9fafb;
}
.btn-signin {
  width: 100%;
  background-color: #090f2b;
  color: #f0f2f7;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-signin:hover {
  background-color: #424e85;
}
@media (max-width: 768px) {
  .form-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .form-section {
    padding: 30px;
  }
}
.error-message {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
 }

input.invalid {
  border: 1px solid #e74c3c;
  background-color: #fff6f6;
}

