<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="healthcare-logo.jpg" alt="Healthcare Logo" class="sidebar-logo" />
    </div>
    <h2>MedCare</h2>
    <p class="portal">Admin Portal</p>
  </div>

  <nav class="nav-menu">
    <a href="#" class="nav-item active">📊 Dashboard</a>
    <a href="#" class="nav-item">👥 Manage All Students</a>
    <a href="#" class="nav-item">📚 Manage Courses</a>
    <a href="#" class="nav-item">📈 Analytics</a>
    <a href="#" class="nav-item">📋 Activity Logs</a>
    <a href="#" class="nav-item">⚙️ Settings</a>
  </nav>

      <div class="logout-container">
      <button class="btn-logout" (click)="onLogout()">🚪 Log Out</button>

    </div>

  
</aside>

<div class="main-content">
  <div class="content-card">
     <router-outlet />
  </div>
</div>